<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Food ordering</title>
    <link rel="icon" type="image/png" sizes="16x16" href="../../../logo.png" />
    <!-------- Bootstrap css ---------->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx"
      crossorigin="anonymous"
    />

    <!-------- owl-carousel ---------->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
      integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css"
      integrity="sha512-sMXtMNL1zRzolHYKEujM2AqCLUR9F2C4/05cdbxjjLSRvMQIciEPCQZo++nk7go3BtSuK9kfa/s+a4f4i5pLkw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <!-------- font-awesome ---------->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
      integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <!-------- header-toggle ---------->
    <link href="../../../web/home/css/style.css" rel="stylesheet" />

    <!-------- prompt-fonts ---------->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <!---------------- header-toggle -------------------->

    <div class="top">
      <i class="fas fa-angle-up"></i>
    </div>

    <!---------------- header-manu -------------------->

    <header class="sticky-top">
      <nav class="navbar navbar-expand-lg bg-light">
        <div class="container">
          <a class="navbar-brand" href="#">
            <img
              src="../../../web/home/image/Food ordering-latest-logo.png"
              alt=""
              width="100"
              height="35"
            />
          </a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
              <li class="nav-item me-5">
                <a class="nav-link active" aria-current="page" href="#Home"
                  >Home</a
                >
              </li>
              <li class="nav-item me-5">
                <a class="nav-link" href="#about">About</a>
              </li>
              <!-- <li class="nav-item me-5">
                <a class="nav-link" href="#slider">Order</a>
              </li> -->
              <li class="nav-item me-5">
                <a class="nav-link" href="#contact">Contact</a>
              </li>
              <li class="nav-item me-5">
                <a class="nav-link" href="/web/registration"
                  >Restaurant Signup</a
                >
              </li>
              <li class="nav-item me-5">
                <div class="">
                  <a href="#"
                    ><img src="../../../web/home/image/appstore.png"
                  /></a>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <!---------------- header-section -------------------->

    <section class="hero-section padding" id="Home">
      <div class="overlay white"></div>
      <div class="container">
        <div class="row">
          <div class="hero-content">
            <h4>Welcome To Food ordering</h4>
            <h1>We are a modern restaurant in <br />the center of the city</h1>
            <p>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit.Natus
              praesentium <br />odit doloremque officiis vel perferendis.
            </p>
            <!-- <a class="btn-custom" href="#">Look More</a> -->
          </div>
        </div>
      </div>
    </section>

    <!---------------- header-deliver-section -------------------->

    <section class="section">
      <div class="container">
        <div class="section-title-wrap section-header text-center">
          <h5>How We Do It</h5>
          <h2 class="title">We Deliver Your Food In 4 Steps</h2>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard dummy text
            ever since the 1500s
          </p>
        </div>
        <div class="row">
          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="ct-infographic-item">
              <img src="../../../web/home/image/Order.png" />
              <h4>Order</h4>
              <p>
                There are many variations of passages of Lorem Ipsum available
              </p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="ct-infographic-item">
              <img src="../../../web/home/image/Cook.png" />
              <h4>Cook</h4>
              <p>
                There are many variations of passages of Lorem Ipsum available
              </p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="ct-infographic-item">
              <img src="../../../web/home/image/deliveri.png" />
              <h4>Deliver</h4>
              <p>
                There are many variations of passages of Lorem Ipsum available
              </p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="ct-infographic-item">
              <img src="../../../web/home/image/enjoy.png" />
              <h4>Enjoy</h4>
              <p>
                There are many variations of passages of Lorem Ipsum available
              </p>
            </div>
          </div>
        </div>
        <!-- <div class="section-btn">
          <a href="#" class="btn-custom">Order Online</a>
        </div> -->
      </div>
    </section>

    <!---------------- header-slider-section -------------------->

    <section id="slider">
      <div class="container">
        <div class="row">
          <div class="owl-carousel owl-theme">
            <div class="ct-category category-2">
              <div class="ct-category-desc">
                <h5 class="custom-primary">Pizza</h5>
                <h3>Crazy Pizza</h3>
                <p>
                  It has roots in a piece of classical Latin literature from 45
                  BC, making it over 2000 years old
                </p>
                <!-- <a href="#" class="btn-custom">Order Now</a> -->
                <img src="../../../web/home/image/3.png" alt="" class="" />
              </div>
            </div>
            <div class="">
              <div class="ct-category category-2">
                <div class="ct-category-desc">
                  <h5 class="custom-primary">Desserts</h5>
                  <h3>Satisfy Your Sweet Tooth</h3>
                  <p>
                    It has roots in a piece of classical Latin literature from
                    45 BC, making it over 2000 years old
                  </p>
                  <!-- <a href="#" class="btn-custom">Order Now</a> -->
                  <div class="col-6">
                    <img src="../../../web/home/image/8.png" alt="" />
                  </div>
                </div>
              </div>
            </div>
            <div class="">
              <div class="ct-category category-2">
                <div class="ct-category-desc">
                  <h5 class="custom-primary">Sides</h5>
                  <h3>Wraps You Can't Resist</h3>
                  <p>
                    It has roots in a piece of classical Latin literature from
                    45 BC, making it over 2000 years old
                  </p>
                  <!-- <a href="#" class="btn-custom">Order Now</a> -->
                  <img src="../../../web/home/image/9.png" alt="" />
                </div>
              </div>
            </div>
            <div class="">
              <div class="ct-category category-2">
                <div class="ct-category-desc">
                  <h5 class="custom-primary">Beverages</h5>
                  <h3>Juicy Sensation</h3>
                  <p>
                    It has roots in a piece of classical Latin literature from
                    45 BC, making it over 2000 years old
                  </p>
                  <!-- <a href="#" class="btn-custom">Order Now</a> -->
                  <img src="../../../web/home/image/10.png" alt="" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!---------------- header-light-bg-section -------------------->

    <div class="section light-bg" id="about">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-6 mb-5 mb-lg-0">
            <img src="../../../web/home/image/cta2 (1).png" />
          </div>
          <div class="col-lg-6">
            <div class="section-title-wrap section-text">
              <h5>Welcome to Food orderingKitchen</h5>
              <h2 class="title">About Us</h2>
              <p class="subtitle">
                Lorem Ipsum is simply dummy text of the printing and typesetting
                industry. Lorem Ipsum has been the industry's standard dummy
                text ever since the 1500s Lorem Ipsum is simply dummy text of
                the printing and typesetting industry.
              </p>
              <p class="subtitle">
                Lorem Ipsum has been the industry's standard dummy text ever
                since the 1500s
              </p>
              <a href="#" class="btn-custom">View More</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!---------------- email-subscription-section -------------------->

    <section class="email-subscription" id="contact">
      <div class="container">
        <div class="row specialities-top">
          <div class="col-12 col-md-12 col-lg-12">
            <h2 class="mb-0">Want to get the latest update?</h2>
            <p>
              There are many variations of passagessuffered alteration or eipsum
              dolor sit amet, consectetur adipiscing elit, sed do teiusmod
              tempor. <br />Lorem ipsum dolor sit amet, consectetur adipisicing
              elit, sed do eiusmod tempor incididunt ut labore et dolore magna
              aliqua. Duis aute irure dolor in reprehenderit in voluptate velit.
            </p>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-12 col-md-10 col-lg-6">
            <form class="email-form">
              <div class="form-group position-relative mb-0">
                <input
                  type="email"
                  class="form-control"
                  placeholder="Your Email Id"
                />
                <button type="submit" class="email-form-button">SEND</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>

    <!---------------- header-download-section -------------------->

    <section class="download-app-section">
      <div class="container">
        <div class="row specialities-top">
          <div class="col-12 col-md-12 col-lg-12">
            <div>
              <h2 class="mb-0">
                Download our App Today &amp; Experience
                <br />
                Endless Possibilities
              </h2>
            </div>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Duis
              aute irure dolor in reprehenderit in voluptate velit.
            </p>
            <div class="section-btn">
              <a href="#" class="btn-custom">DOWNLOAD APP</a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!---------------- header-footer-section -------------------->

    <footer>
      <div class="footer-bottom">
        <div class="container position-relative">
          <div class="row">
            <div class="col-12 col-md-12 col-lg-12">
              <div class="footer-menu text-center">
                <ul>
                  <li class="nav-item">
                    <a href="#Home" class="nav-link">Home</a>
                  </li>
                  <li class="nav-item">
                    <a href="#about" class="nav-link">About</a>
                  </li>
                  <!-- <li class="nav-item">
                    <a href="#slider" class="nav-link">Order</a>
                  </li> -->
                  <li class="nav-item">
                    <a href="#contact" class="nav-link">Contact</a>
                  </li>
                  <li class="nav-item">
                    <a href="/web/registration" class="nav-link"
                      >Restaurant Signup</a
                    >
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-md-12 col-lg-12 text-center">
              <div class="footer-logo">
                <img src="../../../web/home/image/Food ordering-green.png" />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 footer-icon text-center">
              <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
              <a href="#"><i class="fa-brands fa-twitter"></i></a>
              <a href="#"><i class="fa-brands fa-instagram"></i></a>
              <a href="#"><i class="fa-brands fa-pinterest"></i></a>
              <a href="#"><i class="fa-brands fa-snapchat-square"></i></a>
            </div>
          </div>
          <!-- <div class="row">
                    <div class="col-md-12">
                        <div class="footer-copylink text-center">
                            <span>All Rights Reserved by Food ordering I Made with<i class="fa-solid fa-heart"></i>I
                                2022</span>
                        </div>
                    </div>
                </div> -->
        </div>
      </div>
    </footer>

    <!-------- jquery libery ---------->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
      integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>

    <!-------- owl-carousel js ---------->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"
      integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>

    <!-------- bootstrap js ---------->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
      crossorigin="anonymous"
    ></script>

    <!-------- custam js ---------->
    <script src="../../../web/home/js/custam.js"></script>
  </body>
</html>
