<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>Food ordering | Admin</title>
  <!-- Favicon icon -->
  <link rel="icon" type="image/png" sizes="16x16" href="./assets/images/favicon.ico">
  <!-- Custom Stylesheet -->
  <link rel="stylesheet" href="./assets/plugins/owl.carousel/dist/css/owl.carousel.min.css">
  <link rel="stylesheet" href="./assets/plugins/chartist/css/chartist.min.css">
  <link href="./assets/plugins/datatables/css/jquery.dataTables.min.css" rel="stylesheet">
  <link href="./css/style.css" rel="stylesheet">
</head>

<body data-theme-version="light" data-layout="vertical" data-nav-headerbg="color_2" data-headerbg="color_1" data-sidebar-style="full" data-sibebarbg="color_2" data-sidebar-position="static" data-header-position="static" data-container="wide" direction="ltr" data-new-gr-c-s-check-loaded="14.1047.0" data-gr-ext-installed="">
  <div id="main-wrapper" class="show">
    <div class="nav-header">
      <div class="brand-logo">
        <a href="/admin/dashboard" class="text-center">
          <b class="logo-abbr" style="color: white">E</b>
          <span class="brand-title">
            <img class="" src="./assets/images/logos/logo.png" height="50" alt="">
          </span>
        </a>
      </div>
      <div class="nav-control">
        <div class="hamburger">
          <span class="toggle-icon">
            <i class="icon-menu"></i>
          </span>
        </div>
      </div>
    </div>
    <div class="header">
      <div class="header-content clearfix">
        <div class="header-right">
          <ul class="clearfix">
            <li class="icons">
              <div class="user-img c-pointer-x">
                <span class="activity active"></span>
                <img src="./assets/images/user/user.png" height="40" width="40" alt="avatar">
              </div>
              <div class="drop-down dropdown-profile animated flipInX">
                <div class="dropdown-content-body">
                  <ul>
                    <li>
                      <a href="javascript:void(0)" class="logoutBtn">
                        <i class="icon-power"></i>
                        <span>Logout</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <%- include('./sidebar') %>