<div class="nk-sidebar">
  <div
    class="slimScrollDiv"
    style="position: relative; overflow: hidden; width: auto; height: 100%"
  >
    <div
      class="nk-nav-scroll active"
      style="overflow: hidden; width: auto; height: 100%"
    >
      <ul class="metismenu in" id="menu">
        <li>
          <a href="/admin/dashboard" aria-expanded="false">
            <i class="icon-home"></i>
            <span class="nav-text">Dashboard</span>
          </a>
        </li>
        <li>
          <a href="/admin/customers" aria-expanded="false">
            <i class="icon-user"></i>
            <span class="nav-text">Customers</span>
          </a>
        </li>
        <li>
          <a href="/admin/store" aria-expanded="false">
            <i class="icon-basket"></i>
            <span class="nav-text">Restaurants</span>
          </a>
        </li>
        <li>
          <a href="/admin/store-request" aria-expanded="false">
            <i class="icon-paper-plane"></i>
            <span class="nav-text">Restaurant Request</span>
          </a>
        </li>
        <li>
          <a href="/admin/send-notification" aria-expanded="false">
            <i class="icon-bell"></i>
            <span class="nav-text">Send Notification</span>
          </a>
        </li>
        <li>
          <a href="javascript:void(0)" aria-expanded="false" class="logoutBtn">
            <i class="icon-power"></i>
            <span class="nav-text">Logout</span></a
          >
        </li>
      </ul>
    </div>
    <div
      class="slimScrollBar"
      style="
        background: transparent;
        width: 5px;
        position: absolute;
        top: 0px;
        opacity: 0.4;
        display: none;
        border-radius: 7px;
        z-index: 99;
        right: 1px;
        height: 3758.82px;
      "
    ></div>
    <div
      class="slimScrollRail"
      style="
        width: 5px;
        height: 100%;
        position: absolute;
        top: 0px;
        display: none;
        border-radius: 7px;
        background: rgb(51, 51, 51);
        opacity: 0.2;
        z-index: 90;
        right: 1px;
      "
    ></div>
  </div>
</div>
